* {
margin: 0px;
padding: 0px;
}

li{
    list-style: none;
}

body{
    height: 100vh;
    background: #2c2c2c;
    display: grid;
    align-items: center;
}

.countdown{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.countdown li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    padding: 1rem;
    color: wheat;
    background: #424242;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.countdown li span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 8rem;
}